{% extends 'base.html' %}

{% block body %}

<div class="button-group">

    <a href="#" class = "btn btn-primary btn-md" role="button">Orders</a>
    <a href="#" class = "btn btn-primary btn-md" role="button">Laptops</a>
    <a href="#" class = "btn btn-primary btn-md" role="button">Mobiles</a>
    <a href="#" class = "btn btn-primary btn-md" role="button">Tabs</a>
    <a href="#" class = "btn btn-primary btn-md" role="button">Sims</a>
    <a href="#" class = "btn btn-primary btn-md" role="button">Others</a>
   
</div>



{% endblock %}