{% extends 'base.html' %}

{% block body %}

<main class="container">
    <div class="bg-light p-5 rounded">
        {% if user.is_authenticated %}
      <h1>Hi {{ user.username }} ! Welcome to the Inventory Management System homepage</h1>
      <p class="lead">To view all the assets , select the type from the menu above.</p>
      <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs &raquo;</a>
      {% else %}
    <p>You are not logged in</p>
    {% endif %}
    </div>
  </main>


{% endblock %}